.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.question-container {
  text-align: center;
}

.question {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.options {
  list-style-type: none;
  padding: 0;
}

.option {
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f0f0f0;
}

.result-container {
  text-align: center;
}
